*{margin: 0px;
    box-sizing: border-box;
}
html{
    overflow-x: hidden; 
}
/* body{
  
   
} */
.clock{
    background-color:#0B0618;
    height: 864px;
}
.morning{
    background-image: linear-gradient(#D46E16,#BF5223);
    padding-left: 3vw;
    padding-top: 6vh;
    padding-right: 6vh;
    padding-bottom: 6vh;
    display: flex;
    flex-direction: row;
}
.first{
    text-align: left;
    font-size: 7vh;
    padding-top: 4vh;
    line-height: 7.1vh;
}
.second{
    text-align: right;
    font-size: 6.5vh;
    padding-top: 4vh;
    line-height: 7.1vh;
    margin-left: 32vw;
}
.third{
    text-align: left;
    font-size: 6.2vh;
    padding-top: 4vh;
}
.top-morning{
    color:#F4D35E ;
    font-family: "Lancelot", serif;
    font-weight: 200;
    font-style: normal; 
    margin-left: 3vw;       
}
.timeline-morning{
    
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 4.5vh;
    padding-top: 4.4vh;
  
    color: #E19859;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  
  }
  .line-one{
    border-left: solid #E19859;
    height: 6.9vh;
}
  .line-three{
    border-left: solid #E19859;
    height: 52vh;
}
.line-five{
    border-left: solid #E19859;
    height: 8vh;
}
.line-seven{
    border-left: solid #E19859;
    height: 25vh;
}
.line-nine{
    border-left: solid #E19859;
    height: 4vh;
}
  .fourth{
    text-align: right;
    font-size: 5.5vh;
    padding-top: 4vh;
    color:#F4D35E ;
    font-family: "Lancelot", serif;
    font-weight: 200;
    font-style: normal;      
  }


.one-after{
    font-size: 5.5vh;
  
}
.two-after{
    text-align: right;
    font-size: 5.4vh;
    margin-top: -5.7vh;
    margin-left: 42.5vw;
}
.three-after{
    font-size: 5.3vh;
    margin-top: -5.7vh;
}
.four-after{
    text-align: right;
    font-size: 5.2vh;
    margin-top: -5.7vh;
}
.five-after{
    font-size: 5.1vh;
    margin-top: -5.7vh;
}
.six-after{
    text-align: right;
    font-size: 5vh;
    margin-top: -5.7vh;
}
.seven-after{
    font-size: 4.9vh;
    margin-top: -5.7vh;
}
.eight-after{
    text-align: right;
    font-size: 4.8vh;
    margin-top: -5.7vh;
}
.nine-after{
    font-size: 4.6vh;
    margin-top: -5vh;
}
.ten-after{
    text-align: right;
    font-size: 4.4vh;
    margin-top: -4.5vh;
}
.afternoon{
    
    color:#fcb253 ;
    background-image: linear-gradient(#B54A1B,#661B1B);
    font-family: "Lancelot", serif;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    padding-top: 6vh;
    padding-right: 6vh;
    padding-bottom: 6vh;
    padding-left: 3vw;
}
.timeline-after{

    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 4.5vh;

  
    color: #E19859;
   
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .evening{
    
    font-family: "Lancelot", serif;
    font-weight: 200;
    color:#da5e5e ;
    padding-left: 3vw;
    padding-top: 6vh;

    padding-bottom: 6vh;
    background-image: linear-gradient(#631414,#060938);
    display: flex;
    flex-direction: row;
  }
  .one-even{
    font-size: 4vh;
  }
  .two-even{
    font-size: 3.8vh;
    margin-left: 24vw;
    margin-top:  5vh;
  }
  .three-even{
    text-align: right;
    font-size: 3.5vh;
    margin-right: 0vw;
    margin-top: 35vh;
  }
  .timeline-even{
   
 font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 4.5vh;

  
    color: #E19859;
   
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .even-container{
    display: flex;
    flex-direction: row;
    margin-top: 50vh;
  }
  .felt{
    font-size: 3vh;
   
  }
  .alone{
    font-size: 3vh;
    margin-left: 71vw;
  }

.night{
  
    color: #89B9CF;
    padding-left: 3vw;
    padding-top: 6vh;
  
    padding-bottom: 6vh;
    font-family: "Lancelot", serif;
    font-weight: 200;
    background-image: linear-gradient(#02052C,#01010B);
    display: flex;
    flex-direction: row;
}
.tright-night{
    margin-left: 8vw;
}
.top-container-night{
    font-size: 2.5vh;
    display: flex;
    flex-direction: row;
}
.bottom-container-night{
    font-size: 2.5vh;
    margin-top: 64vh;
    display: flex;
    flex-direction: row;
    margin-left: 46vw;
    padding-bottom: 8vh;
}
.timeline-night{
   font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 4.5vh;
    color: #E19859;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bright-night{
    margin-left: 8vw;
}
.footer{
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: #0B0618;
    text-align: center;
    color: aliceblue;
}
#back{
    padding: 3vh;
}
.clock-container{
    text-align: center;
    align-items: center;
    background-color:#0B0618 ;
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 6.5vh;
    padding: 6vh;
    column-gap: 2vh;
    padding-top: 4vh;
   padding-bottom: 8vh;
   
}


.layer-one{
    color: #615959;
    padding-bottom: 2.3vh;
}
.layer-two{
    display: flex;
    flex-direction: row;
    color: #615959;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    padding-bottom: 5vh;
}
.layer-three{
    display: flex;
    flex-direction: row;
    color: #615959;
    align-items: center;
    justify-content: center;
    gap: 54vh;
    padding-bottom: 5vh;

}
.layer-four{
    display: flex;
    flex-direction: row;
    color: #615959;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    padding-bottom: 5vh;
}
.layer-five{
    display: flex;
    flex-direction: row;
    color: #615959;
    align-items: center;
    justify-content: center;
    gap: 53vh;
    padding-bottom: 5vh;
}
.layer-six{
    display: flex;
    flex-direction: row;
    color: #615959;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    padding-bottom: 3vh;
}
.layer-seven{
    color: #615959;
}
#twelve{
    color: #1e4659;
}
#three{
    color: #9f3f16;
}
#nine{
    color: #a7692e;
    
}
#nine:hover{
    color: #FCD134;
    
}
#six{
    color: #661B1B;
}
#twelve:hover{
    color:  #89B9CF;
    cursor: pointer;
   
}
.nine{
    color:#FCD134
}

#three:hover{
    color:   #BF5223;
    cursor: pointer;
    
    
}
#six:hover{
    color:   #962b2b;
    cursor: pointer;
    
    
}
hr#solid{
    display: flex;
    flex-direction: column;
    border-top: 3px solid #89B9CF ;
}
#twelve-box{
    color: #89B9CF;
    font-family: "Lancelot", serif;
    font-weight: 200;
    font-size: 2vh;
    opacity: 0%;

}
#nine-box{
    color: #FCD134;
    font-family: "Lancelot", serif;
    font-weight: 200;
    font-size: 2vh;
    opacity: 0%;
    

}
#three-box{
    color: #F5811B;
    font-family: "Lancelot", serif;
    font-weight: 200;
    font-size: 2vh;
    
}
#six-box{
    color:#C74646;
    font-family: "Lancelot", serif;
    font-weight: 200;
    font-size: 2vh;
  
}
.bottom-after{
    margin-left: 3vw;
}


.line-onea{
    border-left: solid #E19859;
    height: 5.9vh;
}
  .line-threea{
    border-left: solid #E19859;
    height: 25vh;
}
.line-fivea{
    border-left: solid #E19859;
    height: 78.5vh;
}
.line-sevena{
    border-left: solid #E19859;
    height: 25.5vh;
}
.line-ninea{
    border-left: solid #E19859;
    height: 13vh;
}
#ninee{
color: #E19859;
}
#ninee:hover{
    color: #FCD134;
    }
#threee{
    color: #E19859;
}
#threee:hover{
    color: #F5811B;
}
.six-numbere{
    color: #C74646;
}
#twelvee{
    color: #E19859;
}
#twelvee:hover{
    color: #89B9CF;
}
.line-onee{
    border-left: solid #E19859;
    height: 5.9vh;
}
  .line-threee{
    border-left: solid #E19859;
    height: 25vh;
}
.line-fivee{
    border-left: solid #E19859;
    height: 8.5vh;
}
.line-sevene{
    border-left: solid #E19859;
    height: 46.5vh;
}
.line-ninee{
    border-left: solid #E19859;
    height: 13vh;
}

.evening-container{
    margin-left: 3vw;
}
#ninen{
    color: #E19859;
    }
    #ninen:hover{
        color: #FCD134;
        }
    #threen{
        color: #E19859;
    }
    #threen:hover{
        color: #F5811B;
    }
    #six-numbern{
        color: #E19859;
        font-weight: 400;
    }
    #six-numbern:hover{
        color: #C74646;
    }

    .twelven{
        color: #89B9CF;
    }
    .line-onen{
        border-left: solid #E19859;
        height: 5.9vh;
    }
      .line-threen{
        border-left: solid #E19859;
        height: 5vh;
    }
    .line-fiven{
        border-left: solid #E19859;
        height: 8.5vh;
    }
    .line-sevenn{
        border-left: solid #E19859;
        height: 10.5vh;
    }
    .line-ninen{
        border-left: solid #E19859;
        height: 33vh;
    }
    .threea{
        color: #F5811B;
    }
    .night-container{
        margin-left:3vw ;
    }
 
        #twelve a{
            text-decoration: none;
            color: inherit;
        }
        #nine a{
            text-decoration: none;
            color: inherit;
        }
        #three a{
            text-decoration: none;
            color: inherit;
        }
        #six a{
            text-decoration: none;
            color: inherit;
        }
        #back a{
            text-decoration: none;
            color: inherit;
        }
        #six-numbern a{
            text-decoration: none;
            color: inherit;
        }
        #threen a{
            text-decoration: none;
            color: inherit;
        }
        #ninen a{
            text-decoration: none;
            color: inherit;
        }
        #twelvee a{
            text-decoration: none;
            color: inherit;
        }
        #threee a{
            text-decoration: none;
            color: inherit;
        }
        #ninee a{
            text-decoration: none;
            color: inherit;
        }
        #twelvea a{
            text-decoration: none;
            color: inherit;
        }
        #six-numbera a{
            text-decoration: none;
            color: inherit;
        }
        #ninea a{
            text-decoration: none;
            color: inherit;
        }
        #six-number a{
            text-decoration: none;
            color: inherit;
        }
        #three a{
            text-decoration: none;
            color: inherit;
        }
#twelvea:hover{
    color:#89B9CF;
}
#six-numbera:hover{
    color:#C74646;
}
#ninea:hover{
    color:#FCD134;
}
#six-number:hover{
    color:#C74646;
}
#back:hover{
    color: #89B9CF;
}
#nava-container{
    display: flex;
    flex-direction: row;
    background-color: #000000;
    padding: 3vh;
    padding-left: 3vw;
    gap: 2vh;
    text-align: center;
    justify-content: center;
    
}
.nava-text{
    color: white;
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
   
}
.nava-textt{
    color: white;
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
   margin-right: 2vw;
}