body{
    background-color: black;

}

h1{
    color: white;
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    width: 600px;

    font-size: 3.9vh;
}
p{
    color: #8C9E49;
    width: 350px;
    font-family: "Akidenz Grotesk", sans-serif;
    font-size: 1.5vh;
    margin-left: 330px;
    margin-top: -5.8vh;
}
h3{
    color: #8C9E49;
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-top: 31vh;
    text-decoration: none;
}
a{
    text-decoration: none;
            color: inherit;
}

h3:hover{
    color: white;
    cursor: pointer;
    
}
.container{
    display: flex;
    width: 100vw;
margin-top: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}