*{margin: 0px;
    box-sizing: border-box;
}
html{
    overflow-x: hidden; 
}
body{
    background-color: black;
}
p{
    color: #8C9E49;
    width: 35vw;
    padding-top: 10vh;
    padding-left: 10vh;
    font-family: "Akidenz Grotesk", sans-serif;
    font-size: 1.5vh;
}
.toc{
    color: white;
     
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    
    font-size: 50px;

 margin-top: 0;
 padding: 0;
 /* line-height: 0.5; */
 text-align: right;
 height: 50px;
 display: inline-block;
 vertical-align: middle;
 padding: 10px 0;
}

.toc:hover{
    cursor: pointer;
}

.toc-links{
    line-height: 8vh;
    padding: 0px;
    /* height: 100%;
    width: 100%; */
    text-align: right;
    padding-bottom: 10vh;
}


#toc-container{
    /* margin-top: 45vh;
    margin-left: 60vw;
   */
   position: absolute;
   bottom: 50px;
   right: 50px;
}
.timeline:hover{
    color: #89B9CF;
    cursor: pointer;
}
.analysis:hover{
    color: #8C9E49;
    cursor: pointer;
}
.literature:hover{
    color: #E1629B;
    cursor: pointer;
}